body {
  margin: 0;
  padding: 0;
}

/* Viewer panel */
#idrviewer {
  transition-timing-function: ease;
  transition-duration: 200ms;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

@media (min-width: 800px) {
  .sidebar-open #idrviewer {
    left: 350px;
  }
}

.light-theme #idrviewer {
  background: #fafafa none repeat scroll 0 0;
}

.dark-theme #idrviewer {
  background: #666 none repeat scroll 0 0;
}

.page {
  box-shadow: 1px 1px 4px rgba(120, 120, 120, 0.5);
}

/* Shared utilities */
.is-mobile .mobile-hidden {
  display: none;
}

.hidden {
  display: none;
}

/* Menu bars */
#controls {
  height: 44px;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

#controls > div {
  display: flex;
  align-self: center;
}

#controls-left {
  justify-content: start;
  padding-left: 5px;
}

#controls-center {
  justify-content: center;
}

#controls-right {
  justify-content: flex-end;
  padding-right: 5px;
}

#controls select {
  height: 25px;
}

.btn {
  border: 0 none;
  height: 30px;
  padding: 0;
  width: 30px;
  background-color: transparent;
  display: inline-block;
  margin: 0 5px 0;
  vertical-align: top;
  cursor: pointer;
}

.btn svg {
  filter: drop-shadow(0 0 1px #595959);
}

#pgCount {
  font-family: Arial, serif;
  font-size: 15px;
  margin-left: 5px;
}

#pgCount,
.btn,
#controls select {
  align-self: center;
  color: white;
  fill: currentColor;
}

#controls select {
  border-radius: 5px;
}

#btnSelect,
#btnZoomOut,
#btnView {
  margin-left: 20px;
}

#btnGo {
  width: 55px;
}

#btnView {
  width: 105px;
}

#btnZoom {
  width: 95px;
}

body:fullscreen .icon-fullscreen,
body:not(:fullscreen) .icon-fullscreen-exit {
  display: none;
}

.light-theme .icon-theme-light,
.dark-theme .icon-theme-dark {
  display: none;
}

#btnSideToggle,
#btnBookmarks,
#btnSearch,
#btnSelect {
  padding: 2px;
}

#btnThemeToggle,
#btnThumbnails,
#btnMove {
  padding: 3px;
}

.light-theme .controls {
  background: #9eacba none repeat scroll 0 0;
  border-bottom: 1px solid #7b8793;
}

.dark-theme .controls {
  background: #444 none repeat scroll 0 0;
  border-bottom: 1px solid #000;
}

.light-theme #pgCount,
.light-theme .btn {
  text-shadow: 0 0 1px #595959;
}

.dark-theme #pgCount {
  opacity: 0.8;
}

.dark-theme .btn {
  opacity: 0.7;
}

.light-theme .btn:hover {
  opacity: 0.6;
}

.dark-theme .btn:hover {
  opacity: 0.95;
}

.light-theme .btn.disabled {
  opacity: 0.4;
}

.dark-theme .btn.disabled {
  opacity: 0.2;
}

.light-theme #controls select {
  background-color: #9aa8b6;
  border: 1px solid #7b8793;
}

.dark-theme #controls select {
  background-color: #656565;
  border: 1px solid #000;
}

/* Sidebar */
#sidebar {
  transition-timing-function: ease;
  transition-duration: 200ms;
  top: 45px;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  z-index: 999;
  left: -350px;
  width: 350px;
}

.sidebar-open #sidebar {
  left: 0;
}

#sidebar-controls {
  height: 44px;
  display: flex;
  padding-left: 5px;
}

#sidebar-content {
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #eee;
}

#sidebar-content>div {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.light-theme #sidebar {
  border-right: 1px solid #7b8793;
}

.dark-theme #sidebar {
  border-right: 1px solid #000;
}

/* Thumbnails panel */
.thumbnail {
  cursor: pointer;
  display: block;
  padding: 8px 0;
  margin: 0 auto;
  text-align: center;
}

.thumbnail img {
  max-width: 160px;
  max-height: 100%;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.currentPageThumbnail,
.thumbnail:hover {
  background-color: #ddd;
}

.currentPageThumbnail img,
.thumbnail:hover img {
  border: 1px solid #999;
}

.spinner {
  border: 6px solid #bbb;
  border-top: 6px solid #3c9fe1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.spinning {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360

